<div id="{{ id }}" class="modal">
  <div class="modal-background" onClick="close_modal()"></div>
  <div class="modal-content">
    <div class="close-modal" onClick="close_modal()">
      <p>&times;</p>
    </div>
    <div class="header">
      <p class="title">{{ project.title }}</p>
      <p class="date">{{ project.date }}</p>
      <p class="summary">{{ project.summary }}</p>
    </div>
    <div class="content">
      {% for content in project.contents %}
      <div class="sub-content">
        <div class="title">{{ content.title }}</div>
        {% if content.image %}
        <img src="{{ site.url }}/assets/project/{{ content.image }}" alt="{{ content.title }}">
        {% endif %}
        <div class="description">{{ content.description }}</div>
        {% if content.blogPosts %}
        <div class="blogPosts"> 
          <div class="pref">If you're interested in learning more about my development process, check out these blog posts:</div>
          <ul>
          {% for blog in content.blogPosts %}
          <a class="post" href="{{ site.url }}/{{ blog.url }}"><li>{{ blog.title }}</li></a>
          {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>