<!DOCTYPE html>
<html lang="ko">
{% include head.html %}
<body>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/highlightTheme.css" />
  {%if page.url contains "blog"%}
  <div class="container-home">
    {{ content }}
  </div>
  {%else%}
  <div class="container">
    {{ content }}
  </div>
  {%endif%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-csharp.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-yaml.min.js"></script>
</body>

</html>