---
layout: page
---
{% assign profile = site.theme_settings.profile %}


</div><!-- This Tag means End .container -->
<div id="protfolio">
  <section id="about-me">
    <div class="container-fluid">
      <div class="row">
        <div class="img-wrap col-12 col-md-4">
          <div class="img">
            <img src="{{ site.baseurl }}/{{ profile.image }}" alt="user_image">
          </div>
        </div>
        <div class="text-wrap col-12 col-md-8">
          <h2 class="username">{{ profile.username }}</h2>
          <p class="description">{{ profile.description }}</p>

          <ul id="icons">
            {% include icons.html %}
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <a href="https://drive.google.com/file/d/1SMVR-lFTUYDH_9sHavMFK5IeB3itqcR1/view?usp=sharing" target="_blank"  class="btn-wrap col-4" style="padding-left: 0;">
          <p class="resumePdf">
            RESUME LINK
          </p>
        </a>
      </div>
    </div>
    <div class="bg"></div>
  </section>
  <!-- career section -->
  </div>


  {% include projects.html %}
</div>